
.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

// ========================================

.navbar-open {
	content: get-svg-icon('svg-navbar-open', #ffffff);
	height: 30px;
	vertical-align: middle;
}

.navbar-close {
	content: get-svg-icon('svg-navbar-close', #ffffff);
	height: 30px;
	vertical-align: middle;
}

// ========================================

.navbar {
	background-color: #343a40;
	height: 56px;
	display: flex;
	align-items: center;
}

.navbar-expand {
	display: flex;
	justify-content: space-between;
}

.navbar-brand {
	color: #fff;
	justify-self: start;
	font-size: 1.25rem;
	text-decoration: none;
	cursor: pointer;
}

.navbar-toggler-icon {
	display: none;
}

.navbar-collapse {
	display: flex;
	align-items: center;
}

.navbar-nav {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 15px;
	list-style: none;
	text-align: center;
}

.nav-link {
	color: #adb5bd;
	text-decoration: none;
}

.nav-link:hover {
	color: #e9ecef;
}

// -----------------------------------------

//	@media (max-width: 991.98px) {
//		.navbar-expand > .container {
//			padding-right: 0;
//			padding-left: 0;
//		}
//	}

@media screen and (max-width: 992px) {

	.navbar-expand {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navbar-brand {
		width: 100%;
	}

	.navbar-toggler-icon {
		display: block;
		cursor: pointer;
	}

	.navbar-nav {
		grid-template-columns: 1fr;
		grid-gap: 1px;
		width: 100%;
		position: absolute;
		top: 56px;
		left: -100%;
	}

	.active {
		background: #343a40;
		left: 0;
		opacity: 1;
		z-index: 1;
	}

	.nav-link {
		text-align: center;
		padding: .5rem;
		width: 100%;
		display: table;
	}

	.nav-link:hover {
		background-color: #3D3D3D;
	}
}
