// --------------------------------------------------------------------------------
// CUSTOM FONTS ADDED
// --------------------------------------------------------------------------------

@font-face {
  font-family: 'Old English';
  src: url('../fonts/old-english.woff2') format('woff2');
}

@font-face {
  font-family: 'MontserratLight';
  src: url('../fonts/MontserratLight.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Bold-webfont';
  src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'OpenSans-Italic-webfont';
  src: url('../fonts/OpenSans-Italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'norwester';
  src: url('../fonts/norwester.woff') format('woff');
}

@font-face {
  font-family: 'philosopher-bold-webfont';
  src: url('../fonts/philosopher-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'lobster-v20-latin-regular';
  src: url('../fonts/lobster-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'sourcesanspro-regular-webfont';
  src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'roboto-mono-v4-latin-regular';
  src: url('../fonts/roboto-mono-v4-latin-regular.woff') format('woff');
}

// ================

// @font-face {
//   font-family: 'aller-light';
//   src: url('../fonts/aller-light.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'FiraSans-BookItalic';
//   src: url('../fonts/FiraSans-BookItalic.woff') format('woff');
// }

// @font-face {
//   font-family: 'FiraMono-Regular';
//   src: url('../fonts/FiraMono-Regular.woff') format('woff');
// }

// @font-face {
//   font-family: 'OpenSans-Light';
//   src: url('../fonts/OpenSans-Light.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'Scada-Regular';
//   src: url('../fonts/Scada-Regular.ttf') format('truetype');
// }
