// .#{$fa-css-prefix}-headphones:before { content: fa-content($fa-var-headphones); }

/* 
		$fa-css-prefix:	fa !default;
		<span className={` fas fa-fw fa-headphones `}></span>
		.#{$fa-css-prefix}-headphones:before { content: fa-content($fa-var-headphones); }
*/

//	$svgg-css-prefix:	svg !default;
//	
//	@function svgg-content($svgg-var) {
//		@return unquote("\"#{ $svgg-var }\"");
//	}
//	
//	$svgg-var-headphones:	\f025;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
) !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$colors: (
	"blue":       $blue,
	"indigo":     $indigo,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"gray":       $gray-600,
	"gray-dark":  $gray-800
) !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: (
	"primary":    $primary,
	"secondary":  $secondary,
	"success":    $success,
	"info":       $info,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark
) !default;

$enable-grid-classes:		true !default;

$spacer:								1rem !default;

$body-bg:                   	$white !default;
$body-color:                	$gray-900 !default;
$body-text-align:           	null !default;

$link-color:                	$primary !default;
$link-decoration:           	none !default;
$link-hover-color:          	darken($link-color, 15%) !default;
$link-hover-decoration:     	underline !default;

$paragraph-margin-bottom:   	1rem !default;

$container-padding-x:					1rem !default;

$border-width:              	1px !default;
$border-color:              	$gray-300 !default;
$border-radius:               .25rem !default;

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:          	$font-family-sans-serif !default;
$font-family-code:            $font-family-monospace !default;

$font-size-root:							null !default;
$font-size-base:							1 !default;
$font-assets-url-path:				'../fonts';

$font-size-lg:              	$font-size-base * 1.25 !default;
$font-size-sm:              	$font-size-base * .875 !default;

$font-weight-light:         	300 !default;
$font-weight-normal:        	400 !default;
$font-weight-bold:          	700 !default;

$font-weight-base:          	$font-weight-normal !default;

$line-height-base:          	1.5 !default;
$line-height-sm:            	1.25 !default;
$line-height-lg:            	2 !default;

$svg-assets-url-path:					'../svgs' !default;
$data-svg-prefix:							'data:image/svg+xml;utf-8,';
$svg-color-base:    					$body-color !default;
$svg-font-size-base:    			$font-size-base !default;
$svg-border-color:      			#eee !default;
$svg-inverse:           			#fff !default;

$color-syracuse-orange:				#f37321 !default;
$color-rutgers-scarlet:				#ee363d !default;
