@import '../../../theme/scss/app/variables.scss';
@import '../../../theme/scss/app/functions-assign-unit.scss';
@import '../../../theme/scss/app/svg-icons.scss';
@import '../../../theme/scss/app/functions-svgs.scss';
@import '../../../theme/scss/app/mixins/mixins-fonts.scss';

.footerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copyright {
	color: #fff;
	@include lobster-v20-latin-regular-font;
}

.footerItems {
	display: flex;
	align-items: center;
}

.svgFooterHeadphones {
	content: get-svg-icon('svg-headphones', $primary);
	height: assign-unit-rem($font-size-base);
	padding-right: .25rem;
	padding-left: .25rem;
}
